@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
.font-lexend {
    font-family: "Lexend", sans-serif !important;
}
.font-poppins {
    font-family: "Poppins", sans-serif !important;
}
.font-roboto {
    font-family: "Roboto", sans-serif !important;
}

/* Navbar */
.active {
    color: teal;
}